OPENAI_API_KEY=your_openai_api_key_here
GMAIL_SENDER=your_chatbot_sender@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
EMAIL_LEVEL_1=tier1support@yourbusiness.com
EMAIL_LEVEL_2=senioragent@yourbusiness.com
EMAIL_LEVEL_3=manager@yourbusiness.com
EMAIL_LEVEL_4=director@yourbusiness.com
